.container { 
    position: relative; 
    z-index: 1;
}
.container img { 
    display: block; 
}
@mixin icon {
    background-color: rgb(158, 201, 238);
    position: absolute;
    bottom: 10px;
    border-radius: 50%;
    padding: 4px;
    font-size: x-large;
}

.fa {   
    @include icon();
    left: 500px;
    color: green;
    z-index: 10;
}
.fa2 {
    @include icon();
    color: red;
    z-index: 10;
    left: 200px;
}